<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmSh</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Number of infected packets",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 0, 0)',
                    data: [],
                    fill: false,
                },{
                    label: "Number of packets",
                    backgroundColor: 'rgb(99, 255, 132)',
                    borderColor: 'rgb(0, 255, 0)',
                    data: [],
                    fill: false,
                },{
                    label: "Pourcentage of packets",
                    backgroundColor: 'rgb(132, 99, 255)',
                    borderColor: 'rgb(0, 0, 255)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Evolution of packets on the Network'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");
        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();
                config.data.datasets[2].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value[0]);
            config.data.datasets[1].data.push(data.value[1]);
            config.data.datasets[2].data.push((data.value[0] / data.value[1]) * 100);
            lineChart.update();
        }
    });
</script>

<form action = "http://localhost:5000" method = "post">
    <p>Use command:</p>
    <p><input type = "text" name = "cmd" /></p>
    <p><input type = "submit" value = "submit" /></p>
 </form>

</body>
</html>